{% extends "base.html" %}

{% block content %}  

  <div class="fh5co-team fh5co-light-grey-section">
    <div class="container">
      
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
            <h2>Organizers</h2>
          </div>
          <div class="col-md-4 fh5co-staff text-center animate-box">
            <img src="/{{ THEME_STATIC_DIR }}/images/person1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
            <h3>Kozo Nishida</h3>
            <h4>Organizer</h4>
            <p></p>
            <ul class="fh5co-social">
              <li><a href="https://twitter.com/kozo2"><i class="icon-twitter"></i></a></li>
              <li><a href="https://github.com/kozo2"><i class="icon-github"></i></a></li>
            </ul>
          </div>
          <div class="col-md-4 fh5co-staff text-center animate-box">
            <img src="/{{ THEME_STATIC_DIR }}/images/person2.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
            <h3>Taku Yoshioka</h3>
            <h4>Co-Organizer</h4>
            <p>株式会社センスタイムジャパン シニアリサーチャー<br>
            機械学習、深層学習、確率モデルを用いた研究開発に従事。商標登録サービスToreru、確率モデルライブラリPyMC3の開発に参加。
            </p>
            <ul class="fh5co-social">
              <li><a href="https://twitter.com/fadsjhfa"><i class="icon-twitter"></i></a></li>
              <li><a href="https://github.com/taku-y"><i class="icon-github"></i></a></li>
            </ul>
          </div>
          <div class="col-md-4 fh5co-staff text-center animate-box">
            <img src="/{{ THEME_STATIC_DIR }}/images/person3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
            <h3>Masafumi Terazono</h3>
            <h4>Co-Organizer</h4>
            <p></p>
            <ul class="fh5co-social">
              <li><a href="https://twitter.com/yokmama"><i class="icon-twitter"></i></a></li>
              <li><a href="https://github.com/yokmama"><i class="icon-github"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-4 fh5co-staff text-center animate-box">
            <img src="/{{ THEME_STATIC_DIR }}/images/person3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
            <h3>Hiromasa Ohashi</h3>
            <h4>Co-Organizer</h4>
            <p></p>
            <ul class="fh5co-social">
              <li><a href="https://twitter.com/wrist"><i class="icon-twitter"></i></a></li>
              <li><a href="https://github.com/wrist"><i class="icon-github"></i></a></li>
            </ul>
          </div>

          <div class="col-md-4 fh5co-staff text-center animate-box">
            <img src="/{{ THEME_STATIC_DIR }}/images/person3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
            <h3>Nobuo Okada</h3>
            <h4>Co-Organizer</h4>
            <p>ヤフー株式会社 ソフトウェアエンジニア<br>
            Yahoo!カレンダー開発及びデータ分析に従事。障がい者と健常者の共用品としてのサービス体験を作るためにサイエンスの活用を進めている。</p>
            <ul class="fh5co-social">
              <li><a href="https://twitter.com/bulbulpaul"><i class="icon-twitter"></i></a></li>
              <li><a href="https://github.com/bulbulpaul"><i class="icon-github"></i></a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>


{% endblock content %}